<section class="vh-100" style="background-color:gray;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <p><span class="h2">Cart </span><span class="h4">({{cartCount}} items)</span></p>
{{#each cart}}
        <div class="card mb-4">
          <div class="card-body p-4">

            <div class="row align-items-center">
              <div class="col-md-2">
                <img src="/product-images/{{this.product._id}}.jpg"
                  class="img-fluid" alt="Generic placeholder image">
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Name</p>
                  <p class="lead fw-normal mb-0">{{this.product.deviceName}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Category</p>
                  <p class="lead fw-normal mb-0"><i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
                    {{this.product.deviceCategory}}</p>
                </div>
              </div>
              <div class="col-md-2 d-flex justify-content-center">
                <div>
                
                  <p class="small text-muted mb-4 pb-2">Quantity</p>
                  
<div class="d-flex align-items-center">
     
  
    <button class="btn btn-secondary cart-item-count" onclick="updateQuantity(-1,'{{this.product._id}}')">-</button>




    <p class="lead fw-normal mb-0 mx-2" id="{{this.product._id}}">{{this.quantity}}</p>
    
    <button class="btn btn-secondary cart-item-count" onclick="updateQuantity(1,'{{this.product._id}}')">+</button>

</div>     
                </div>
              </div>

              <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Price</p>
                  <p class="lead fw-normal mb-0">₹{{this.product.devicePrice}}/unit</p>
                </div>
              </div>
      
              <div class="col-md-2 d-flex justify-content-center">
                <div>
              <button onclick="deleteCartProduct('{{this.product._id}}')" id="but{{this._product._id}}" class="btn btn-danger">Remove</a>
                </div>
              </div>

              {{!-- <div class="col-md-2 d-flex justify-content-center">
                <div>
                  <p class="small text-muted mb-4 pb-2">Total</p>
                  <p class="lead fw-normal mb-0">$799</p>
                </div>
              </div> --}}
            </div>

          </div>
        </div>
{{/each}}
        <div class="card mb-5">
          <div class="card-body p-4">

            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Order total:</span> <span id="total2"
                  class="lead fw-normal">₹{{total}}</span>
              </p>
            </div>

          </div>
        </div>

        <div class="d-flex justify-content-end">
          <a type="button" class="btn btn-light btn-lg me-2" href="/">Continue shopping</a>
          <a href="/place-order" class="btn btn-secondary btn-lg">Place Order</a>
        </div>

      </div>
    </div>
  </div>
</section>
